name: New OpenTTD release

on:
  repository_dispatch:
    types:
    - new-tag
    - new-master
    - new-branch

# client_payload should contain:
#  - version: the version of the new release, e.g.: 20200101-master-g12345
#  - folder: the folder in which the release is located openttd-nightlies/2020

jobs:
  new_release:
    name: New OpenTTD release
    runs-on: ubuntu-latest

    steps:
    - name: Sanity check
      run: |
        set -x

        if [ -z "${{ github.event.client_payload.version }}" ]; then
          echo "::error::version in client_payload is not set"
          exit 1
        fi
        if [ -z "${{ github.event.client_payload.folder }}" ]; then
          echo "::error::folder in client_payload is not set"
          exit 1
        fi

    - name: Generate access token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: ${{ secrets.DEPLOYMENT_APP_ID }}
        private_key: ${{ secrets.DEPLOYMENT_APP_PRIVATE_KEY }}
        installation_retrieval_mode: "repository"
        installation_retrieval_payload: "OpenTTD/workflows"

    - name: Trigger 'update CDN'
      uses: peter-evans/repository-dispatch@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
        repository: OpenTTD/workflows
        event-type: update-cdn
        client-payload: '{"version": "${{ github.event.client_payload.version }}", "folder": "${{ github.event.client_payload.folder }}"}'

    # Docs we publish are always based on the master.
    - if: github.event.action == 'new-master'
      name: Trigger 'publish docs'
      uses: peter-evans/repository-dispatch@v4
      with:
        token: ${{ steps.generate_token.outputs.token }}
        repository: OpenTTD/workflows
        event-type: publish-docs
        client-payload: '{"version": "${{ github.event.client_payload.version }}", "folder": "${{ github.event.client_payload.folder }}"}'
